/* .addBtn  .counter .hide .decrease .countDis .increase */
.CartBtn *{
			/* border: 1px solid red; */
			font-size: 1rem;
			padding: 6px 6px;
			color: white;
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		}
		.CartBtn{
			border: 1px solid white;
			width:100%;
			
			border-radius: 5px;
			text-align: center;
			background-color: rgba(1, 198, 1, 0.9);
			overflow: hide;
		}
		.CartBtn .addBtn{
			padding: 12.5px 0;
			width: 100%;
		}
		.CartBtn .addBtn ,.CartBtn .decrease,.CartBtn .increase{
			background-color: transparent;
			border:none;
		}
		.CartBtn .counter{
			margin : 0 8px;
		}
		.CartBtn .counter .increase:disabled{
			opacity: 0.6;
			cursor: not-allowed;
		}
		.CartBtn .counter .countDis{
			user-select: none;
		}
		.hide{
			display:none !important;
		}
		/* === flex setting start === */
		.CartBtn .counter{
			display: flex;
			align-items: stretch;
			padding:0;
		}
		.CartBtn .counter .countDis{
			flex:1;
			text-align: center;
		}
		/* === flex setting end === */