/* icon place */
footer{
    width:100%;
    /* height:40%; */
    padding-bottom: 200px;
}

footer .SocialMeaiaLinks{
    /* width:50%; */
    /* height:90%; */
    
    margin-left:5%;
}
footer .LogoNTitle{
    margin-bottom:5%;
}
footer .SocialMeaiaLinks ul{
    max-width:50%;
}
footer .SocialMeaiaLinks .LogoNTitle .logo{
    width:200px;
    height:auto;
}
footer .SocialMeaiaLinks .LogoNTitle .SiteTitle{
    font-size:4em;
    text-transform:capitalize;
    color : white;
    display:inline-block;
    /* border:red 2px solid; */
}
footer .SocialMeaiaLinks .LinksTitle{
    font-size:2em;
    font-weight: 900;
    color:rgb(27, 94, 0);
}
footer .SocialMeaiaLinks ul{
    margin:2%;
    list-style: none;
}
footer .SocialMeaiaLinks svg{
    width:4em;
    fill:white;
    background-color: rgba(127, 255, 212, 0.514);
}
footer .usefullLink ul{
    list-style: none;
    font-size:1.5em;
    line-height: 2.3em;
    margin:2%;

}
footer .usefullLink ul li a{
    text-decoration: none;
    color:rgb(0, 89, 0);
}

/* flex setting */
footer .SocialMeaiaLinks ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
footer .SocialMeaiaLinks .LogoNTitle{

}
/* grid setting */
footer{
    display:grid;
    grid-template-columns: auto 30%;
    grid-template-rows: 100%;
    gap:10%;
}