		:root{
			--footerColor:  rgba(110, 254, 33, 0.9);
		}
		footer *{
			/* border: 1px solid red; */
		}
		footer{
			width: 95%;
			height: max-content;
			margin: 0 auto;
			margin-bottom: 1rem;
			/* padding:5rem; */
			background-color: var(--footerColor);
		}
		footer .LogoNTitle .siteLogo{
			width: 7rem;
			aspect-ratio: 3/2;
		}
		footer .LogoNTitle .siteTitle{
			width: max-content;
		}
		footer .socialMediaLinks .LinksTitle{
			font-size: 1.5rem;
			font-weight: 900;
			padding-bottom: 1rem;
			color: goldenrod;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
		}
		footer .socialMediaLinks ul{
			list-style: none;
		}
		footer .socialMediaLinks ul svg{
			width:3rem;
			fill: white;
		}
		footer .usefulLinks{
			padding:1rem;
			font-size: larger;
			line-height: 150%;
		}
		footer .usefulLinks ul{
			list-style: none;
		}
		footer .usefulLinks ul a{
			text-decoration: none;
		}

		/* === flexBox Layout Start */
		footer{
			display: flex;
			flex-direction: row;
			align-items:center;
			justify-content: space-around;
		}
		footer .socialMediaLinks{
			text-align: center;
		}
		footer .LogoNTitle a{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
			column-gap: 2rem;
		}
		footer .socialMediaLinks ul{
			display:flex;
			column-gap: 1rem;
		}
		/* === flexBox Layout end */
		@media only screen and (max-width:1000px){
			footer{
				flex-direction: column;
				align-items: center;
				align-content: stretch;
				row-gap:2rem;
				padding: 2rem 0;
			}
			footer .LogoNTitle a{
				justify-content: center;
				gap: 2rem;
			}
			footer .LogoNTitle .siteLogo{
				/* width: 6rem; */
			}
			footer .LogoNTitle .siteTitle{
				/* width: max-content; */
			} 
			footer .usefulLinks{
				text-align: center;
				padding: 0;
			}
		}