*{
	font-family: 'Okra', Helvetica;
}
#loginNsingup_container{
	background-color: rgba(0, 0, 0, 0.8);
	width: 100vw;
	height: 100vh;
	position: absolute;
	top:0;
	left:0;
}

.hide{
	display: none;
}
.loginContainer{
	width:max-content;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem 4rem;
	background-color: rgba(250, 235, 215, 0.9);
	border-radius: 10px;
	box-shadow: 1px 1px 13px -4px black;
}
.loginContainer .tagLine{
	font-size: 1.3rem;
	font-weight: bolder;
	color: skyblue;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
	
}
.loginContainer a{
	text-decoration: none;
	font-weight: lighter;
}
.loginContainer .phoneNum_container{
	width: 17rem;
	background-color: white;
	border: 1px solid;
	border-radius: 10px;
	box-shadow: 1px 1px 13px -4px black;
}
.loginContainer .phoneNum_container p{
	font-size: 1rem;
	padding: 1rem 1.3rem;
	text-align: center;
	/* color: white; */
	background-color: transparent;
	
}
.loginContainer .phoneNum_container input[type="text"]{
	font-size: 1rem;
	/* max-width:fit-content; */
	background-color: transparent;
	border: none;
	
}
.loginContainer .phoneNum_container input[type="text"]:focus{
	outline: none;
	/* border: none; */
}

.loginContainer .password_container {
	border: 1px solid black;
	margin: 1rem auto ;
	padding: 1rem 0rem ;
	border-radius: 10px;
	width: 17rem;
	background-color: aliceblue;
	box-shadow: 0px 0px 8px -4px black;
}
.loginContainer .password_container .pwdViewIcon{
	width: 1.3rem;
	margin: auto 1rem;
}
.loginContainer .password_container input{
	font-size: 1rem ;
	border: none;
	background-color: transparent;
}
.loginContainer .password_container input:focus{
	outline: none;
}

form button[type="submit"]{
	font-size: 2rem;
	padding: 6px 12px;
	margin: 1rem auto ;
	color : white;
	border-radius: 10px;
}
form button[type="submit"]:disabled{
	background-color: rgba(102, 102, 102, 0.8);
	cursor: not-allowed;
}
form button[type="submit"]:not(:disabled){
	background-color: rgba(18, 140, 45, 0.8);
	cursor: pointer;
}
.term_condition{
	font-size: .8rem;
}
/* === flexBox start */
.loginContainer{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap:1.3rem;
}
form{
	display: flex;
	flex-direction: column;
}

.phoneNum_container{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: center;
	
}
.loginContainer .phoneNum_container p{
	flex: 0 0 auto;
}
.phoneNum_container input[type="text"]{
	flex: 0 0 auto;
}

.loginContainer .password_container{
	display: flex;
	align-items: center;
	justify-content: center;
}
/* === flexBox end */