:root{
			--sarifFamily: 'sarif';
			--sansSerifFalily: sans-serif;
			--imgWidth : 21rem;
			--imgHeight : 21rem;
			--zoomfactor: 2;
		}
		#Product_container{
			width:95%;
			margin: 1rem auto;
			/* border: 1px solid green !important; */
		}
		#Product_container *{
			/* border: 1px solid red; */
		}
		#Product_container .leftSection{
			border-right: 1px solid black;
		}
	

		#Product_container .rightSection{
			/* width:40%; */
			background-color: rgba(255, 239, 242, 0.7);
		}
		#breadCrumb{
			font-size: 1.3rem;
			text-transform: capitalize;
			font-weight: bold;
			/* text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7); */
			background-color: rgba(255, 204, 0, 0.901);
			width: max-content;
			padding: 3px 12px;
			border-radius: 10px;
			border-bottom: 1px ridge black;
			margin: 1rem 2rem;
			/* border-style: ; */
		}
		#breadCrumb a{
			text-decoration: none;
		}
		.rightSection .prodDetails{
			width:90%;
			margin: 0 auto;
			background-color: rgba(135, 207, 235, 0.9);
			border: 1px solid rgba(0, 128, 0, 0.6);
			border-radius: 10px;
			padding: 1.3rem;
			line-height: 2rem;
		}
		.prodDetails .prodName{
			font-size: 1.8rem;
			font-family: Helvetica, sans-serif;
			text-transform: capitalize;
			color:rgb(0, 75, 105);
		}
		.prodDetails .brandName{
			font-size:1.3rem;
			font-weight: 600;
			text-transform: capitalize;
			font-family: serif;
			color:rgb(84, 60, 0);
		}
		.prodDetails .prodDesc{
			font-size: 1.3rem;
			font-style: italic;
			color: rgb(255, 255, 255);
			font-family: var(--sansSerifFalily);
		}
		.prodDetails .quantity{
			/* border: 1px dashed gray; */
			font-family: var(--sansSerifFalily);

		}
		.prodDetails .quantity .quantityValue{
			font-size:1.2rem;
		}
		.prodDetails .quantity .unit{
			font-size: 1rem;
			font-style: italic;
			font-weight: 600;
		}
		

		.prodDetails .mrp .mrpValue{
			font-size: 1.1rem;
			color:red;
			text-decoration: line-through;
		}
		.prodDetails .mrp .finalPriceValue{
			font-size: 1.3rem;
			color: rgb(0, 60, 0);
		}

		
		.prodDetails .discount{
			font-size: 2.5rem;
			font-style: italic;
			color: green;
		}
		/* product section end  */
		.offers{
			background-color: rgba(246, 255, 0, 0.8);
			border: 1px solid rgb(200, 207, 0);
			width:90%;
			border-radius: 10px;
			padding: 6px 12px;
			margin: 1rem auto;
		}
		
		.offers .ListTitle{
			font-size: 1.2rem;
			font-weight: bold;
			margin-bottom: 5px;
		}
		.offers .offerType{
			font-weight: bold;
		}
		.offers ul{
			margin: 0 1rem;
			font-family: sans-serif;
			list-style-type:circle;
		}
		.offers li{
			margin: .5rem auto;
			font-style: italic;
		}
		.offers a{
			text-decoration: none;
			color: rgba(0, 0, 169, 0.89);
		}
		.services *{
			/* border: 1px solid red; */
		}
		.services{
			background-color: rgba(0, 241, 0, 0.7);
			border-radius: 10px;
			padding: 1rem 2rem;
			width:90%;
			margin: 1rem auto;
			overflow: auto;
		}

		.services .ListTitle{
			font-size: 1.2rem;
			font-weight: bold;
			margin-bottom: 5px;
			text-align: left;
			/* text-shadow: 0px 0px 10px black; */
			background-color: rgba(0, 100, 0, 0.329);
			border-radius: 5px;
			padding: 3px 6px;
		}
		.services ul{
			list-style:none;
			margin: 1rem 0;
		}
		.services li{
			background-color: rgba(0, 128, 0, 0.63);
			box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.7);
			border: 1px solid black;
			border-radius: 10px;
			min-width:5rem;
			width:5rem;
			max-width: 5rem;

			padding: 3px 6px;
			text-transform: capitalize;
		}
		.services .icons{
			width: 3rem;
			aspect-ratio: 1;
			margin: 1rem auto;
		}

		.services .icons img{
			filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.6));
			width:100%;
			height: auto;
			object-fit: cover;
			object-position: center;
		}
		.services p{
			font-size: .8rem;
			text-align: center;
			color:white;
			margin: 0 auto;
		}
		.hide{
			display:none !important;
		}
		/* flex setting start */
		#Product_container{
			display: flex;
			flex-direction: row;
		}
		#Product_container .leftSection{
			flex:0 0 45%;
		}
		#Product_container .rightSection{
			flex: 0 0 55%;
		}
		.services ul{
			display: flex;
			flex-direction: row;
			/* flex-wrap: wrap; */
			align-items: stretch;
			justify-content: space-evenly;
			gap: 2rem;
		}
		.services li{
			flex: 1;
			
		}

		/* flex setting end */
		@media only screen and (max-width:1000px){
			#Product_container{
				flex-direction: column;
			}
			#breadCrumb{
				margin: 1rem auto;
				font-size: 1.1rem;
				width: 90%;
			}
		}